################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TinyRaster/TinyRaster.VC.VC.opendb
/TinyRaster/Debug/*
/TinyRaster/x64/*
/TinyRaster/ExampleSolution/*
/TinyRaster/TinyRaster/x64/*
/TinyRaster/TinyRaster/x64/debug/*
/TinyRaster/TinyRaster/x64/release/*

