################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TinyRaster/TinyRaster.VC.VC.opendb
